<!DOCTYPE html>
<html>
<head th:include="layout :: htmlhead"></head>
<body>
<form name="form1" class="form1" id="form1" target="_parent" method="post">
    <input type="hidden" name="departmentId" id="departmentId" th:value="${departmentId}" />
    <input id="depWithEcho" name="depWithEcho" type="hidden" class="chec" th:value="${depWithEcho}"/>
    <input type="hidden" id="departmentList" name="departmentList"/>
    <input type="hidden" name="parentId" id="parentId" th:value="${parentId}" readonly="readonly"/><br/>
    <div style="display: none">
        <table class="department">
            <tr>
                <td>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">部门名称*</label>
                        <div class="col-sm-10" >
                            <input type="text" name="departmentName" class="departmentName input-border" id="departmentName" th:value="${departmentName}" placeholder="部门名称不能为空" style="width: 450px"/>
                            <div class="error"><br/><span style="color:red">名称重复，请修改</span></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 6px">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">上级部门*</label>
                        <div class="col-sm-10" style="margin-top: -5px" >
                            <ul id="cityTree" class="ztree ztree2"></ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="top: 4px;">部门主管*</label><br/>
                        <input class="input-border" id="chargeMan" name="chargeName" value="" th:value="${chargeNow}" placeholder="请输入部门主管名称以进行搜索" style="margin-left: 15px;"/>
                        <div style="z-index: 100;position: absolute;">
                            <ul class="selec" id="selec" style="padding-top: 10px;"></ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">主管工号*</label>
                        <div class="col-sm-10" >
                            <input type="text" name="chargeShow" id="emplyeeShow" class="employeeShow input-border" value="" th:value="${chargeEmployeeNow}" readonly="readonly" style="width: 450px;background-color: #dbd7d7"/>
                            <input type="hidden" name="charge" id="emplyee" class="employee input-border" value="" th:value="${chargeIdNow}" readonly="readonly" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="padding-top: 3px;">部门分级*</label>
                        <div class="col-sm-10" >
                            <select id="departmentType" class="departmentType" style="width: 450px;border-radius: 4px; height: 34px;">
                                <option th:each="product :${departmentType}" th:value="${product.code}" th:selected="${product.code == type}">
                                    <span th:text="${product.name}">部门分级</span>
                                </option>
                            </select>
                            <input type="hidden" name="departmentType" class="departmentTypeBack" value=""/>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">目的地</label>
                        <div class="col-sm-10" >
                            <select id="tag" class="tag" multiple="true" >
                                <option th:each="tag :${tag}" th:value="${tag.id}" th:selected="${#lists.contains(tagNow,tag.id)}">
                                    <span th:text="${tag.name}">目的地</span>
                                </option>
                            </select>
                            <input type="hidden" name="tag" class="tagBack" value=""/>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="top: 1px">渠道</label>
                        <div class="col-sm-10" >
                            <select name="platform" multiple="multiple" id="platform" class="orderPlatform">
                                <optgroup th:each="platform:${platform}" th:label="${platform.name}" >
                                    <option  th:text="${platform.name}" th:value="${platform.id}" th:selected="${platform.isTrue}"/>
                                    <option th:each="children:${platform.get('children')}" th:text="${children.name} ? ${children.name} : ''" th:value="${children.id} ? ${children.id} : ''" th:selected="${children.isTrue}"></option>
                                </optgroup>
                            </select>
                            <input type="hidden" name="orderPlatform" class="orderPlatformBack" value=""/>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="top: 2px;">产品类型</label>
                        <div class="col-sm-10" >
                            <select id="productType" class="productType" multiple="true" >
                                <option th:each="product :${productOrderTag}" th:value="${product.id}" th:selected="${#lists.contains(productOrderTagNow,product.id)}">
                                    <span th:text="${product.name}">产品类型</span>
                                </option>
                            </select>
                            <input type="hidden" name="productType" class="productTypeBack" value=""/>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">资源类型</label>
                        <div class="col-sm-10" >
                            <select id="resourceType" class="resourceType" multiple="true">
                                <option th:each="rt :${resourceType}" th:value="${rt.id}" th:selected="${#lists.contains(resourceTypeNow,rt.id)}">
                                    <span th:text="${rt.name}">资源类型</span>
                                </option>
                            </select>
                            <input type="hidden" name="resourceType" class="ressourceTypeBack" value=""/>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div><br/>
    <div style="margin-top: -15px">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;温馨提示：</span><br/>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、部门删除后无法恢复；</span><br/>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、操作部门删除，部门下成员默认移至歌晨信息有限公司，且该部门删除后无法恢复，望三思</span><br/>
    </div>
    <div style="padding-top: 20px;text-align: center">
        <input class="btn-color btn " type="button" id="cancel" value="取消" style="margin-left: 15px"/>
        <input class="btn-color btn " type="button" id="delete" value="删除" style="margin-left: 15px"/>
    </div>
</form>
<script type="text/javascript" th:src="@{/js/popper.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-multiselect.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/js/multiple-select.js}"></script>
<script th:src="@{/js/department/department.js}"></script>
<script th:src="@{/js/department-tree.js}"></script>
<script th:src="@{/js/jquery.ztree.core.js}"></script>
<script th:src="@{/js/jquery.ztree.excheck.js}"></script>
<script th:src="@{/js/jquery.ztree.exhide.js}"></script>
</body>
</html>